{% extends "main.jinja.html" %}
{% block title %}<title>Volunteer - {{ volunteer.name }}</title>{% endblock %}
{% block header %}Volunteer data{% endblock %}
{% block content %}
<form class = "flex flex-auto w-full flex-col"><br />
    <h1 class = "text-center text-xl">{{ volunteer.email }}</h1><br />
    <script _ = "on load call generate()">
        function generate(){
            var fields = [
                ["id", "ID", "{{ volunteer.id }}"],
                ["email", "Email", "{{ volunteer.email }}"],
                ["online", "Wants online", "{{ volunteer.online }}"],
                ["offline", "Wants offline", "{{ volunteer.offline }}"],
                ["county", "County", "{{ volunteer.county }}"],
                ["age", "Age", "{{ volunteer.age }}"]
            ];

            fields.map(([name, placeholder, jinja]) => (
                document.getElementsByTagName("form")[0].insertAdjacentHTML("beforeend", generateOutside(name, placeholder, jinja))
            ))
        }
    </script>
</form>
{% endblock %}